h1 {
    text-align: center;
    font-weight: normal;
    color: white;
}

.viewport {
    width: 98%;
    height: 95%;
    width: 98vw;
    height: 95vh;
}

*{
    overflow: visible;
	
}

@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}

html {
	font-family: 'Comfortaa', sans-serif;
	background: linear-gradient(-45deg, #e73c7e, #ee7752, #A07AE1, #23a6d5, #90EDF9, #23d5ab, #EDDD92);
	background-size: 400% 400%;
	animation: gradient 15s ease infinite;
}


	
