html {
    font-family: 'Rajdhani', sans-serif;
    font-family: 'Teko', sans-serif;
    background-color: black;
}

h1 {
    text-align: center;
    font-weight: normal;
    color: white;
}

.viewport {
    width: 100%;
    height: 100%;
}
